@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";

}
<head>
    <link rel="stylesheet" href="~/css/Login.css" /> <!-- Reference to the CSS file -->

</head>
<h1>Register</h1>

<div>
    <form method="post">
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName" required placeholder="Enter your name" />
        <button type="submit">Register</button>
    </form>

    <p>@ViewBag.Message</p>
    <a asp-controller="Account" asp-action="Login">Already have an account? Login</a>
</div>